
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <header class="header_title">
                <p>Audit Question</p>
            </header>
            <div class="well">
                <form >
                        <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Sub Section<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                        <select class="cleanSelect form-control" id="lng"   required>
                                                <option value="">--Section Sub Section--</option>
                                      </select>
                                      
                                    </div>
                                </div>
             
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Area<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                        <select class="cleanSelect form-control" id="lng"   required>
                                                <option value="">--Section Area--</option>
                                      </select>
                                      
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Method<span class="errorMessage" style="color:red;">*</span></label>
                                           
                                            <select class="cleanSelect form-control" id="lng"   required>
                                                    <option value="">--Section Method--</option>
                                          </select>
                                          
                                        </div>
                                    </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-12">
                                        <div class="form-group">
                                                <label>Question<span class="errorMessage" style="color:red;">*</span></label>
                                               
                                                <textarea class="form-control" rows="3" id="comment"></textarea>
                                    </div>
                                </div>
                            </div>
                    <hr class="hr_basic" />
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <a routerLink="/transaction/audit-list" class="btn btn-default pull-right" style="margin-left:10px;">
                                <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                            </a>
                            <button class=" btn btn-primary btn-right pull-right" type="submit"  >
                                <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                            </button>
                     
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


