
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <header class="header_title">
                <p>Audit</p>
            </header>
            <div class="well">
                <form >
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Plan<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                            <input type="text" class="form-control" placeholder="Enter Plan" required />                                  
                                      
                                    </div>
                                </div>
             
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                            <input type="date" class="form-control" placeholder="Select Date" required />                                  
                                      
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Section<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                            <input type="text" class="form-control" placeholder="Enter Section" required />                                  
                                      
                                    </div>
                                </div>
                 
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Sub Section<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                            <input type="text" class="form-control" placeholder="Enter Sub Section" required />                                  
                                      
                                    </div>
                                </div>
                        </div>
                       
                   
                   
                    <hr class="hr_basic" />
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <a routerLink="/transaction/audit-list" class="btn btn-default pull-right" style="margin-left:10px;">
                                <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                            </a>
                            <button class=" btn btn-primary btn-right pull-right" type="submit"  >
                                <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                            </button>
                     
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


