
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
           
            <div class="col-lg-3 ">
                <a>
                <div class="card card-stats">
                  <div class="content">
                    <div class="row">
                      <div class="col-xs-2">
                        <div class="icon-big text-center icon-warning">
                          <i class="pe-7s-server text-warning"></i>  <span class="glyphicon glyphicon-book" style="color:#e98200;"></span></div>
                        </div>
                          <div class="col-xs-10">
                             <div class="numbers"><p class="text-center">Master
                              <span class="pull-right"><i class="fa fa-arrow-right " style="margin-top:-20px;" aria-hidden="true" ></i></span></p>
                            </div>  
                            </div>
                         </div>
                        </div>
                      </div>
                    </a>
            </div>
            <div class="col-lg-3 ">
                <a>
                <div class="card card-stats">
                  <div class="content">
                    <div class="row">
                      <div class="col-xs-2">
                        <div class="icon-big text-center icon-warning">
                          <i class="pe-7s-server text-warning"></i>   <span class="glyphicon glyphicon-credit-card" style="color:#e98200;"></span></div>
                        </div>
                          <div class="col-xs-10">
                             <div class="numbers"><p class="text-center">Transaction
                              <span class="pull-right"><i class="fa fa-arrow-right " style="margin-top:-20px;" aria-hidden="true" ></i></span></p>
                            </div>  
                            </div>
                         </div>
                        </div>
                      </div>
                    </a>
            </div>
            <div class="col-lg-3 ">
                <a>
                <div class="card card-stats">
                  <div class="content">
                    <div class="row">
                      <div class="col-xs-2">
                        <div class="icon-big text-center icon-warning">
                          <i class="pe-7s-server text-warning"></i>  <span class="glyphicon glyphicon-th" style="color:#e98200;"></span></div>
                        </div>
                          <div class="col-xs-10">
                             <div class="numbers"><p class="text-center"> Configuration
                              <span class="pull-right"><i class="fa fa-arrow-right " style="margin-top:-20px;" aria-hidden="true" ></i></span></p>
                            </div>  
                            </div>
                         </div>
                        </div>
                      </div>
                    </a>
            </div>
            <div class="col-lg-3 ">
                <a>
                <div class="card card-stats">
                  <div class="content">
                    <div class="row">
                      <div class="col-xs-2">
                        <div class="icon-big text-center icon-warning">
                          <i class="pe-7s-server text-warning"></i> <span class="glyphicon glyphicon-cog" style="color:#e98200;"></span></div>
                        </div>
                          <div class="col-xs-10">
                             <div class="numbers"><p class="text-center"> Setting
                              <span class="pull-right"><i class="fa fa-arrow-right " style="margin-top:-20px;" aria-hidden="true" ></i></span></p>
                            </div>  
                            </div>
                         </div>
                        </div>
                      </div>
                    </a>
            </div>

        </div>
    </div>
</div>

