
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <header class="header_title">
                <p>Layer</p>
            </header>
            <div class="well">
                <form >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Layer Name<span class="errorMessage" style="color:red;">*</span></label>
                               
                                    <input type="text" class="form-control" placeholder="Enter Layer Name" required />                                  
                              
                            </div>
                        </div>
                    </div>
                    <hr class="hr_basic" />
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <a routerLink="/master/layer-list" class="btn btn-default pull-right" style="margin-left:10px;">
                                <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                            </a>
                            <button class=" btn btn-primary btn-right pull-right" type="submit"  >
                                <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                            </button>
                     
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

