
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <header class="header_title">
                <p>Planning </p>
            </header>
            <div class="well outer-box">
                <div class="col-sm-12">
                    <a routerLink="/transaction/planning"><button class="btn btn-primary pull-right" >  <span class="glyphicon glyphicon-plus"></span> Add</button></a>
                  
                </div>
            </div>
        </div>
    </div>
</div>


