
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <header class="header_title">
                <p>Audit Transaction</p>
            </header>
            <div class="well">
                <form >
                        <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Plan<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                            <input type="text" class="form-control" placeholder="Enter Plan" required />                                  
                                      
                                    </div>
                                </div>
             
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Date<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                            <input type="date" class="form-control" placeholder="Select Date" required />                                  
                                      
                                    </div>
                                </div>
                      
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Section<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                            <input type="text" class="form-control" placeholder="Enter Section" required />                                  
                                      
                                    </div>
                                </div>
                 
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Sub Section<span class="errorMessage" style="color:red;">*</span></label>
                                       
                                            <input type="text" class="form-control" placeholder="Enter Sub Section" required />                                  
                                      
                                    </div>
                                </div>
                        </div>
                       <div class="row">
                           <div class="col-sm-9">
                            <div class="form-group">
                                <label><strong>Question : </strong> What are accounting estimates for year 2018 ?</label>                                 
                            </div>
                           </div>
                           <div class="col-sm-3">
                            <div class="form-group pull-right" >
                                <label style="margin-right:5px;"><strong>Area : </strong> Pune</label>       
                                <label><strong>Method : </strong> PIM</label>                                                           
                            </div>
                           </div>
                           <div class="col-sm-12">
                               <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label><strong>Layer 1 : </strong> 15 million dollar</label>                                 
                                    </div>
                                   </div>
                                   <div class="col-sm-4">
                                    <div class="form-group">
                                        <label><strong>Status : </strong> Inprogress</label>                                 
                                    </div>
                                   </div>
                               </div>
                               <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label><strong>Layer 2 : </strong> 8 million dollar</label>                                 
                                    </div>
                                   </div>
                                   <div class="col-sm-4">
                                    <div class="form-group">
                                        <label><strong>Status : </strong> Closed</label>                                 
                                    </div>
                                   </div>
                               </div>
                               <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label><strong>Layer 3 : </strong> 12 million dollar</label>                                 
                                    </div>
                                   </div>
                                   <div class="col-sm-4">
                                    <div class="form-group">
                                        <label><strong>Status : </strong> Inprogress</label>                                 
                                    </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   
                   
                    <hr class="hr_basic" />
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <a routerLink="/transaction/audit-list" class="btn btn-default pull-right" style="margin-left:10px;">
                                <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                            </a>
                    
                     
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


