<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img src="assets/img/logo.png" alt="yourlogo" height="40" style="margin:5px 10px;">
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4" style="margin-top:20vh; padding: 48px 40px 36px; border-radius: 8px; border: 1px solid #dadce0;">
                    <label class="heading-text">Forgot Password</label>
                <form class="form-horizontal"   autocomplete="off">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" 
                        ngModel
                        name="Email"
                        required
                        email 
                        autocomplete="off"
                        id="exampleInputEmail1" placeholder="Enter Email">
                      </div>
                   
              
                    <div class="form-group ">
                      <div class="">
                        <br>
                        <a routerLink="/auth/login" style="margin-right:50px;">Sign In</a>
                        <button type="submit"  class="btn btn-primary pull-right" >Submit</button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
    